<ion-header>
  <ion-navbar>
    <ion-title>
    MAPVIEW
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <section *ngIf="lastLocation">
    <agm-map [latitude]="lastLocation.latitude"
             [zoom]="12"
             [longitude]="lastLocation.longtitude">
      <agm-marker [latitude]="lastLocation.latitude"
                  [longitude]="lastLocation.longtitude"

      ></agm-marker>
      <agm-polyline [strokeColor]="'#2196f3'">
          <agm-polyline-point
            *ngFor="let location of locations"
            [latitude]="location.latitude"
            [longitude]="location.longtitude">
          </agm-polyline-point>
      </agm-polyline>
    </agm-map>

    <ion-list>
      <ion-item *ngFor="let location of locations">
        <ion-icon name="locate" item-start></ion-icon>
        {{location.latitude}}, {{location.longtitude}}<br/>
        RSSI: {{location.Rssi}}
      </ion-item>
    </ion-list>
  </section>
</ion-content>
